*{
    color: cadetblue;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}

body{
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

